{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}

{{ form_errors(form) }}
{{ form_row(form.enabled) }}
<div class="ui segment two fields general-informations">
    <div class="block-left">
        <div class="block-date">
            <div class="single-date">
                {{ form_label(form.createdAt) }}
                {{ form_widget(form.createdAt) }}
            </div>
            <div class="single-date">
                {{ form_label(form.updatedAt) }}
                {{ form_widget(form.updatedAt) }}
            </div>
        </div>
        <div class="block-category">
            {{ form_row(form.category) }}
        </div>
    </div>
    <div class="block-right">
        <h4 class="ui dividing header">{{ 'app.actuality.article.banner'|trans }}</h4>
    </div>
</div>
<div class="ui one column stackable grid">
    <div class="column" id="odiseo-image">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'app.actuality.article.images_title'|trans }}</h4>
            {{ form_row(form.images) }}
        </div>
    </div>
</div>
{{ translationFormWithSlug(form.translations, 'backend/Actuality/_slugField.html.twig', resource) }}
