<div class="{% if slugField.vars.required %}required {% endif %}field{% if slugField.vars.errors|length > 0 %} error{% endif %} ui loadable form">
    {{ form_label(slugField) }}
    {% if slugField.vars.value == null %}
        {{ form_widget(slugField, {'attr': {'data-url': path('sylius_admin_ajax_generate_taxon_slug')}}) }}
    {% else %}
        <div class="ui action input" id="slugNoDrop">
            {{ form_widget(slugField, {'attr': {'readonly': 'readonly', 'data-url': path('sylius_admin_ajax_generate_taxon_slug')}}) }}
            <span class="ui icon button" data-bb-cms-toggle-slug>
                <i class="lock icon"></i>
            </span>
        </div>
    {% endif %}
    {{ form_errors(slugField) }}
</div>
