{% macro translationForm(translations) %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <div class="ui styled fluid accordion">
        {% for locale, translationForm in translations %}
            <div data-locale="{{ locale }}">
                <div id="admin-translation-title" class="title{% if loop.first %} active{% endif %}">
                    <i class="dropdown icon"></i>
                    {% if locale == 'fr' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="15">
                            <rect width="30" height="15" fill="#ED2939"/>
                            <rect width="20" height="15" fill="#fff"/>
                            <rect width="10" height="15" fill="#002395"/>
                        </svg>
                        {{ 'sylius.translation.language_french'|trans }}
                        {# {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }} #}
                    {% endif %}
                    {% if locale == 'en' %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30" width="30" height="15">
                            <clipPath id="s">
                                <path d="M0,0 v30 h60 v-30 z"/>
                            </clipPath>
                            <clipPath id="t">
                                <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/>
                            </clipPath>
                            <g clip-path="url(#s)">
                                <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
                                <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
                                <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                                <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
                                <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
                            </g>
                        </svg>
                        {{ 'sylius.translation.language_english'|trans }}
                        {# {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }} #}
                    {% endif %}
                </div>
                <div class="ui content{% if loop.first %} active{% endif %}">
                    {% for field in translationForm %}
                        {{ form_row(field) }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro translationFormWithSlug(translations, slugFieldTemplate, resource) %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <div class="ui styled fluid accordion">
        {% for locale, translationForm in translations %}
            <div data-locale="{{ locale }}">
                <div id="admin-translation-title" class="title{% if loop.first %} active{% endif %}">
                    <i class="dropdown icon"></i>
                    {% if locale == 'fr' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="15">
                            <rect width="30" height="15" fill="#ED2939"/>
                            <rect width="20" height="15" fill="#fff"/>
                            <rect width="10" height="15" fill="#002395"/>
                        </svg>
                        {{ 'sylius.translation.language_french'|trans }}
                        {# {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }} #}
                    {% endif %}
                    {% if locale == 'en' %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 30" width="30" height="15">
                            <clipPath id="s">
                                <path d="M0,0 v30 h60 v-30 z"/>
                            </clipPath>
                            <clipPath id="t">
                                <path d="M30,15 h30 v15 z v15 h-30 z h-30 v-15 z v-15 h30 z"/>
                            </clipPath>
                            <g clip-path="url(#s)">
                                <path d="M0,0 v30 h60 v-30 z" fill="#012169"/>
                                <path d="M0,0 L60,30 M60,0 L0,30" stroke="#fff" stroke-width="6"/>
                                <path d="M0,0 L60,30 M60,0 L0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
                                <path d="M30,0 v30 M0,15 h60" stroke="#fff" stroke-width="10"/>
                                <path d="M30,0 v30 M0,15 h60" stroke="#C8102E" stroke-width="6"/>
                            </g>
                        </svg>
                        {{ 'sylius.translation.language_english'|trans }}
                        {# {{ flags.fromLocaleCode(locale) }} {{ locale|sylius_locale_name }} #}
                    {% endif %}
                </div>
                <div class="ui content{% if loop.first %} active{% endif %}">
                    {% for field in translationForm %}
                        {% if field.vars.name != 'slug' %}
                            {{ form_row(field) }}
                        {% else %}
                            {% include slugFieldTemplate with { 'slugField': translationForm.slug, 'resource': resource } %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
